{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">My Boutique</h1>


    <div class="container mt-5 ">
        <section class="row">
    {% for produit in produits %}
            <div class="card border-secondary mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header">{{ produit.titre }}</div>
            <div class="card-body">
                <img class="img-fluid" src="{{ asset("images/produit/" ~ produit.photo) }}" alt="" style="max-height: 150px; max-width: 300px;">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
                <a href="{{ path('cart_add', {id:produit.id}) }}" class="btn btn-success">Ajouter au Panier</a>
            </div>
            </div>
    {% endfor %}
        </section>
    </div>   
{% endblock %}
