{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">BACKOFFICE</h1>

    <p class="text-center mb-5">Bienvenue sur votre BackOffice</p>

    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES PRODUITS</a>
    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>
    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDES</a>
{% endblock %}